@import '../variables.scss';

// Make App the size of an iPhone X,
// as I was told to use React rather than React Native
.App {
    margin: 3em auto;
    width: $containerWidth;
    height: $containerHeight;
    border: 1px solid $grey;
    background-color: $white;
    overflow-y: scroll;
}

.screen {
    margin-bottom: 60px;
}

.footer {
    position: sticky;
    bottom: 0;
    width: $containerWidth;
}
